ProCons/Service References/ProConsServiceReference/ProConsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProConsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1069/ProConsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1069/ProConsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1069/ProConsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProConsService.Business_Objects" />
      <xsd:import schemaLocation="http://localhost:1069/ProConsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProConsService.Service_Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProConsService_RetrieveAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAccount" />
  </wsdl:message>
  <wsdl:message name="IProConsService_RetrieveAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IProConsService_RetrieveAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAccounts" />
  </wsdl:message>
  <wsdl:message name="IProConsService_RetrieveAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IProConsService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IProConsService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IProConsService_RetrieveRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRecords" />
  </wsdl:message>
  <wsdl:message name="IProConsService_RetrieveRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProConsService">
    <wsdl:operation name="RetrieveAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IProConsService/RetrieveAccount" message="tns:IProConsService_RetrieveAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProConsService/RetrieveAccountResponse" message="tns:IProConsService_RetrieveAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProConsService/RetrieveAccounts" message="tns:IProConsService_RetrieveAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProConsService/RetrieveAccountsResponse" message="tns:IProConsService_RetrieveAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IProConsService/CreateAccount" message="tns:IProConsService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProConsService/CreateAccountResponse" message="tns:IProConsService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IProConsService/RetrieveRecords" message="tns:IProConsService_RetrieveRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProConsService/RetrieveRecordsResponse" message="tns:IProConsService_RetrieveRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProConsService" type="tns:IProConsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAccount">
      <soap:operation soapAction="http://tempuri.org/IProConsService/RetrieveAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAccounts">
      <soap:operation soapAction="http://tempuri.org/IProConsService/RetrieveAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IProConsService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRecords">
      <soap:operation soapAction="http://tempuri.org/IProConsService/RetrieveRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProConsService">
    <wsdl:port name="BasicHttpBinding_IProConsService" binding="tns:BasicHttpBinding_IProConsService">
      <soap:address location="http://localhost:1069/ProConsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>